// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.ms_card-container{
  display: flex;
  flex-wrap: wrap;

  .card{
    width: 18rem;
    margin: 5px;

    &-body{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.post-show{

  h1{
    font-size: 3rem;
    font-weight: bolder;
  }

  h4{
    border-bottom: 1px solid grey;
  }

  p{
    font-size: 1.82rem;
  }

  img{
    max-width: 750px;
    max-height: 500px;
  }
}

.form-container{

  width: 60%;
  // margin: 0 auto;
}

.tag-list{
  list-style: none;
}
